
body {
    height: 100vh;
    background-size: cover;
    background-image: url(images/images_accueil/backgroud.png);
}

header {
    background-image: url(images/images_header/space.png);
    background-size: cover;
    background-position: end;
    background-repeat: no-repeat;
    height: 45%;
}



nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(76, 85, 80, 0.219); 
    height: 5%;
    margin-bottom: 5%;
}

footer{
    height: 150px;
    background-color: black;
}

