
body {
    height: 100vh;
    background-size: cover;
}

header {
    background-image: url(images/images_header/space.png);
    background-size: cover;
    background-position: end;
    background-repeat: no-repeat;
    width: 95%;
    height: 45%;
    margin-left: 2.3%;
    margin-bottom: 3%;
}



nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(57, 158, 103);
    width: 95%;
    height: 5%;
    margin-left: 2.3%;  
}

footer{
    height: 150px;
    background-color: black;
}

