.tablescore{
    text-align: center;
    color: white;

    margin-bottom: 10%;

}

.tablekill{   
    text-align: center;
    color: white;
    margin-bottom: 10%;

}

.tableclanscore{
    text-align: center;
    color: white;
    margin-bottom: 10%;
}

.table{
    border-style: solid;
    overflow: scroll;
}
.titreclassement{
    color: white;
    margin-bottom: 10%;
    text-align: center;
    
}
