




.carousel1,.carousel{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.videojeu{
    display: flex ;
    justify-content: center ;
    align-items: center;
    margin-bottom: 7%;
}

.videoJeuSize{ 
    border: 1px solid #ccc; /* Ajoutez votre style ici */
     width: 560px;
     height: 315px;
}



.avis{
    font-size: large;
    font-family: Cambria, serif;
    margin-bottom: 2%;
    margin-top: 2%;
}

.presentationjeu{
    margin-top: 25px;
    border-style: groove;
    border-left-width: 8px;
    border-right-width: 8px;
    border-bottom-width: 8px;
    border-top-width: 8px;
    border-color: rgb(231, 231, 228);
    color: white;
    font-family: OCR A Std, monospace;
    height: 50%;
    font-size: 100%;
    overflow: scroll;
    margin-bottom: 10%;
}

h3{ 
    color: white;
}



