.divBootGenerale {

    margin-bottom : 50px;
    margin-left: 5%;
    margin-right: 5%;
}


.divDesc {
    height: 205px;

}

.dispflex {
    display: flex;
    align-items: center;
    justify-content: center;

}

.div2 {
    display: inline;
    height: 205px;
    justify-content: center;
    margin-left: 5%;
    border: 1px solid #cccccc;

}

.div3 {

    display: inline;
    height: 205px;
    justify-content: center;
    margin-left: 5%;
    border: 1px solid #cccccc;
}

.imageList {
    height: 205px;
    width: 205px;

}

.titre {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    color: #cccccc;
}

.premiertitre {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    color: #cccccc;
}

.sous-titre {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 50px;
    color: #cccccc;
}

.boutonguide {
    text-align: center;
    margin-bottom: 50px;
    color: #cccccc;
}

p{
    color: #cccccc;
}


.titree{
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    color: #cccccc;
}