.reseau{
    display: flex;
    background-color: #080808;
    align-items: center;
    justify-content: center;
    padding-top: 7px;
    padding-bottom: 7px;
}

.LesPegi{
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(26, 26, 26);
}

.uu{
    align-items: center;
    justify-content: center;
    display: flex;
}
