
.logo {
    padding: 10px;
    display: flex;
    justify-content: space-between;
   
}

.titre {
    display: flex ;
    justify-content: center ;
    align-items: center;
}



#liensContainer {
    /*display: none;*/
    flex-direction: column;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    width: 150px;
    height: 50px;
    margin-left: 90%;
    border-radius: 15%;
}

.lien1:hover{
    color: red;
}
.lien2:hover{
    color: red;
}



